[submodule "ictest"]
	path = ictest
	url = https://github.com/Time0o/TUD_ictest
[submodule "testprogs"]
	path = testprogs
	url = https://github.com/Time0o/TUD_z80_testprogs
[submodule "report"]
	path = report
	url = https://github.com/Time0o/z80-verilog-report
